.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.44, 1.09, 1, 0.33),
    visibility 250ms cubic-bezier(0.44, 1.09, 1, 0.33);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
