.button {
  background-color: var(--secondary-background-color);
  cursor: pointer;

  padding: 6px 22px;

  border: none;
  border-radius: 4px;

  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);

  &:hover,
  &:focus {
    color: var(--text-white-color);
    background-color: var(--accent-color);
  }

  &-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &-item:not(:last-child) {
    margin-right: 8px;
  }

  &.active {
    color: var(--text-white-color);
    background-color: var(--accent-color);
  }
  &:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  &-primary {
    background-color: var(--accent-color);
    color: var(--text-white-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  &-footer {
    position: relative;

    border-radius: 4px;
    border: none;
    background-color: var(--accent-color);
    color: var(--text-white-color);
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    padding: 10px 62px 10px 29px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  &-footer-icon {
    position: absolute;
    top: 13px;
    right: 28px;
  }

  &-modal-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 56px 10px 55px;

    font-weight: 700;

    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--text-white-color);

    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
