.card {
  display: block;
  transition: box-shadow var(--animation);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  & .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--text-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform var(--animation);
  }

  &:focus .text,
  &:hover .text {
    transform: translateY(0%);
  }

  &-body {
    padding: 20px 24px;
    border: 1px solid rgba(238, 238, 238, 1);
  }
}
