.contact {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    font-size: 12px;
    &__icon--mail {
      width: 14px;
      height: 10px;
    }
    &__icon--phon {
      width: 10px;
      height: 14px;
    }
    & .item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  margin-left: auto;

  @media screen and (min-width: 1200px) {
    & .item:not(:first-child) {
      margin-left: 50px;
    }
  }

  &__link {
    color: var(--text-color);
    display: flex;
    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    transition: color var(--animation);
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  &__icon--mail,
  &__icon--phon {
    fill: currentColor;
    margin-right: 10px;
  }
}
