.projekt {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  & .portfolio-title {
    padding: 0px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  & .portfolio-category {
    padding: 0px;

    color: var(--text-color);

    font-size: 16px;
    line-height: 1.86;
  }

  &-item {
    display: block;

  }

  
