:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --text-white-color: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --darck-background-color: #2f303a;
  --footer-text-accent: #ffffff99;
  --icon-color: #afb1b8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
