.client {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__icon {
    fill: var(--icon-color);
    transition: fill var(--animation);
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    cursor: pointer;
    transition: border var(--animation);

    @media screen and (min-width: 768px) {
      width: 226px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }

  &__logo:hover,
  &__logo:focus {
    border: 1px solid var(--accent-color);
  }
  &__logo:hover .client__icon,
  &__logo:focus .client__icon {
    fill: var(--accent-color);
  }
}
